:root{
    --purple: #CD57FF;
    --light-black: #4E424C;
    --light-grey: #797979;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 85%;
    margin: auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 42px;
    padding: 20px 0;
    margin-bottom: 28px;
    font-size: 16px;
}

nav .navigation-page ul{
    display: flex;
    gap: 50px;
    list-style-type: none;
}

ul li a{
    text-decoration: none;
    color: var(--purple);
}

a.home-navigation{
    color: var(--light-black);
}


main{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 115px;
}

article{
    display: flex;
    flex-direction: column;
    flex-grow: 4;
    gap: 28px;
    box-shadow: 0px 35px 44px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.new-question{
    display: flex;
    justify-content: end;
}

button.new-question-button{
    color: white;
    background-color: var(--purple);
    font-size: 17.8px;
    width: 148px;
    height: 42px;
    border: 0;
    border-radius: 8px;
}

.list-question{
    display: flex;
    gap: 24px;
    padding: 48px;
    border-radius: 8px;
}

.question-photo-mobile{
    display: none;
}

.box-question{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profil{
    display: flex;
    gap: 11px;
}

.username-user{
    font-size: 12px;
    color: var(--light-grey);
}

.user-question{
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.question-title{
    font-size: 28px;
    font-weight: bolder;
    color: var(--light-black);
}

.main-question{
    font-size: 20px;
    color: var(--light-grey);
}

.footer-question{
    display: flex;
    gap: 37.75px;
}

.hashtag{
    display: flex;
    gap: 26px;
    color: var(--purple);
}

.interaction-question{
    display: flex;
    gap: 9px;
    align-items: center;
}

.interaction-question a{
    display: flex;
    align-items: center;
    gap: 7.7px;
    text-decoration: none;
    color: var(--light-grey);
    font-weight: lighter;
    font-size: 12.5px;
}

.interaction-question span{
    color: var(--purple);
}

aside{
    display: flex;
    flex-grow: 1;
    font-size: 20px;
}

.side-features-navigation{
    display: flex;
    flex-direction: column;
    gap: 19px;
    align-items: start;
    height: 40%;
    box-shadow: 0px 35px 44px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.side-features-navigation .question-navigation{
    width: 100%;
    display: flex;
    background-color: #F7E4FF;
}

.profil-navigation, .question-navigation, .done-question-navigation, .pending-navigation{
    padding: 10px 105px 10px 10px;
    border-radius: 10px;
}

.side-features-navigation a{
    display: flex;
    text-decoration: none;   
    gap: 15px;
    align-items: center;
    color: var(--light-grey);
}

.question-navigation a{
    color: var(--purple);
}

/* RESPONSIVE */

@media screen and (max-width:768px) {

    nav .navigation-page ul{
        gap: 10px;
    }

    main{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: center;
        gap: 25px;
    }

    article{
        width: 100%;
    }

    .list-question{
        flex-direction: column;
        width: 100%;
        box-shadow: 0px 35px 30px rgba(0, 0, 0, 0.3);
    }

    .box-question{
        gap: 10px;
    }

    .question-photo-desktop{
        display: none;
    }
    .question-photo-mobile{
        display: block;
    }

    .footer-question{
        flex-direction: column;
    }

    aside{
        width: 100%;
    }

    .side-features-navigation{
        margin: auto;
    }
}