@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
    --purple: #CD57FF;
    --light-black: #4E424C;
    --light-grey: #797979;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

.container{
    width: 85%;
    margin: auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 42px;
    padding: 20px 0;
    margin-bottom: 28px;
    font-size: 16px;
}

nav .navigation-page ul{
    display: flex;
    gap: 50px;
    list-style-type: none;
}

ul li a{
    text-decoration: none;
    color: var(--purple);
}

a.home-navigation{
    color: var(--light-black);
}


main{
    display: flex;
    justify-content: space-between;
    margin-bottom: 115px;
}

article{
    display: flex;
    flex-direction: column;
    flex-grow: 4;
    gap: 25px;
    box-shadow: 0px 35px 44px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.new-question{
    display: flex;
    justify-content: end;
}

.box-question{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    padding: 55.5px 75px 65.5px 75px;
    box-shadow: 0px 11px 4px rgba(0, 0, 0, 0.08);
}

.profil{
    display: flex;
    gap: 11px;
}

.username-user{
    font-size: 12px;
    color: var(--light-grey);
}

.user-question{
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.question-title{
    font-size: 28px;
    font-weight: bolder;
    color: var(--light-black);
}

.main-question{
    font-size: 20px;
    color: var(--light-grey);
}

.footer-question{
    justify-content: space-between;
    display: flex;
    gap: 37.75px;
}

.hashtag{
    display: flex;
    gap: 26px;
    color: var(--purple);
}

.hashtag p{
    background: #F7E4FF;
    padding: 9px 8px;
    border-radius: 8px;
}

.interaction-question{
    display: flex;
    gap: 28px;
    align-items: center;
}

.interaction-question a{
    display: flex;
    align-items: center;
    gap: 7.7px;
    text-decoration: none;
    color: var(--light-grey);
    font-weight: lighter;
    font-size: 12.5px;
}

.list-answer{
    border: 1px solid #CACACA;
    border-radius: 24px;
}

.interaction-answer{
    display: flex;
    gap: 9px;
    align-items: center;
}

.interaction-answer a{
    display: flex;
    align-items: center;
    gap: 7.7px;
    text-decoration: none;
    color: var(--light-grey);
    font-weight: lighter;
    font-size: 12.5px;
}

.interaction-answer span{
    color: var(--purple);
}

.user-answer{
    color: var(--light-grey);
    font-size: 20px;
}


/* Hamburger Menu */

.hamburger-menu{

    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.hamburger-menu input{
    position: absolute;
    width: 40px;
    height: 28px;
    opacity: 0;
    left: -6px;
    top: -4px;
    cursor: pointer;
    z-index: 99;
}

.hamburger-menu span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: var(--purple);
    border-radius: 3px;
    transition: all 0.3s;
}

/* Hamburger Menu animation */

.hamburger-menu span:nth-child(2){
    transform-origin:0 0;
}

.hamburger-menu span:nth-child(4){
    transform-origin:0 100%;
}

.hamburger-menu input:checked ~ span:nth-child(2){
    transform: rotate(45deg);
}

.hamburger-menu input:checked ~ span:nth-child(3){
    transform: scale(0);
    opacity: 0;
}

.hamburger-menu input:checked ~ span:nth-child(4){
    transform: rotate(-45deg);
}

/* RESPONSIVE */

@media screen and (max-width:768px) {

    nav .navigation-page ul{
        position: absolute;
        right: 0;
        top: 0;
        flex-direction: column;
        background-color: var(--light-grey);
        width: 25%;
        height: 100vh;
        align-items: center;
        justify-content: space-evenly;
        z-index: 0;
        transform: translateX(100%);
        transition: all 0.8s;
        opacity: 0;
    }

    nav .navigation-page ul.slide{
        transform: translateX(0);
        opacity: 1;
    }

    .hamburger-menu{
        display: flex;
    }

    article{
        width: 100%;
    }

    .box-question{
        gap: 24px;
        padding: 48px;
    }

    .footer-question{
        flex-direction: column;
        align-items:start;
    }

    .hashtag p{   
        padding:0;
        border-radius: 0;
    }

    .box-answer{
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .list-answer{
        padding: 48px;
    }

    .user-answer{
        font-size: 18px;
    }

}