@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
    --purple: #CD57FF;
    --light-black: #4E424C;
    --light-grey: #797979;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

.container{
    width: 85%;
    margin: auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 42px;
    padding: 20px 0;
    margin-bottom: 28px;
    font-size: 16px;
}

nav .navigation-page ul{
    display: flex;
    gap: 50px;
    list-style-type: none;
}

ul li a{
    text-decoration: none;
    color: var(--purple);
}

a.home-navigation{
    color: var(--light-black);
}


main{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 340px;
}

article{
    display: flex;
    flex-direction: column;
    flex-grow: 4;
    gap: 58px;
    box-shadow: 0px 35px 44px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.profil{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(img/Rectangle\ 3.png);
    background-repeat: no-repeat;
    background-size: 100% 60%;
    gap: 10px; 
    padding-top: 104px;
}

.profil p.address, p.role{
    font-weight: light;
}

p.address, p.role{
    color: var(--light-grey);
}

.discuss-info{
    display: flex;
    gap: 39px;
    align-items: center;
    justify-content: center; 
    padding-bottom: 94px;
}

.question-info, .done-info, .pending-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7E4FF;
    padding: 40px 50px;
    border-radius: 8px;
}

.discuss-info{
    color: var(--purple);
}

.discuss-info span{
    font-weight: bolder;
}

aside{
    display: flex;
    flex-grow: 1;
    font-size: 20px;
}

.side-features-navigation{
    display: flex;
    flex-direction: column;
    gap: 19px;
    align-items: start;
    height: 40%;
    box-shadow: 0px 35px 44px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.side-features-navigation .profil-navigation{
    width: 100%;
    display: flex;
    background-color: #F7E4FF;
}

.profil-navigation, .question-navigation, .done-question-navigation, .pending-navigation{
    padding: 10px 105px 10px 10px;
    border-radius: 10px;
}

.side-features-navigation a{
    text-decoration: none;
    display: flex;
    gap: 15px;
    align-items: center;
    color: var(--light-grey);
}

.profil-navigation a{
    color: var(--purple);
}


/* Hamburger Menu */

.hamburger-menu{

    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.hamburger-menu input{
    position: absolute;
    width: 40px;
    height: 28px;
    opacity: 0;
    left: -6px;
    top: -4px;
    cursor: pointer;
    z-index: 99;
}

.hamburger-menu span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: var(--purple);
    border-radius: 3px;
    transition: all 0.3s;
}

/* Hamburger Menu animation */

.hamburger-menu span:nth-child(2){
    transform-origin:0 0;
}

.hamburger-menu span:nth-child(4){
    transform-origin:0 100%;
}

.hamburger-menu input:checked ~ span:nth-child(2){
    transform: rotate(45deg);
}

.hamburger-menu input:checked ~ span:nth-child(3){
    transform: scale(0);
    opacity: 0;
}

.hamburger-menu input:checked ~ span:nth-child(4){
    transform: rotate(-45deg);
}



/* RESPONSIVE */

@media screen and (max-width:768px) {

    nav .navigation-page ul{
        position: absolute;
        right: 0;
        top: 0;
        flex-direction: column;
        background-color: var(--light-grey);
        width: 25%;
        height: 100vh;
        align-items: center;
        justify-content: space-evenly;
        z-index: 0;
        transform: translateX(100%);
        transition: all 0.8s;
        opacity: 0;
        /* gap: 10px; */
    }

    nav .navigation-page ul.slide{
        transform: translateX(0);
        opacity: 1;
    }

    .hamburger-menu{
        display: flex;
    }

    main{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: center;
        gap: 15px;
    }

    article{
        width: 100%;
    }

    .discuss-info{
        flex-wrap: wrap;
    }

    .question-info, .done-info, .pending-info{
        width: 50%;
    }

    aside{
        width: 100%;
    }

    .side-features-navigation{
        margin: auto;
    }
}